@use '../../theme/mixins';


// 无序列表
.wf-bullet-list {
  padding-left: 1.5em;
  list-style: disc outside none;
  margin: var(--wf-block-gap-vertical) 0;

  .wf-bullet-list {
    margin-block: 0;
    list-style: circle outside none;

  .wf-bullet-list {
      list-style: square outside none;
    }
  }
}

// 有序列表
.wf-ordered-list {
  padding-left: 1.5em;
  list-style: decimal outside none;
  margin: var(--wf-block-gap-vertical) 0;
  
  .wf-ordered-list {
    margin-block: 0;
    list-style: lower-roman outside none;

  .wf-ordered-list {
      list-style: lower-latin outside none;
    }
  }
}

.wf-list-item {
  @include mixins.wf-reset-edge-spacing;

  p {
    margin: 0;
  }

  &::marker {
    color: hsl(var(--wf-color-text-secondary));
  }
}

// 任务列表
.wf-task-list {
  padding-left: 0;
}

.wf-task-list-item {
  gap: 0.5em;
  width: 100%;
  display: flex;

  > div {
    flex: 1;
  }

  > p {
    overflow-x: hidden;
    word-break:break-all;
  }

  label {
    display: flex;
    position: relative;
    align-items: center;
    height: calc(var(--wf-line-height-default) * 1em);
  }

  input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
  }

  label span {
    width: 1em;
    height: 1em;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625em solid hsl(var(--wf-color-text-quaternary));
    background-color: hsl(var(--wf-color-text-quaternary) / 10%);
    transition: all var(--wf-motion-duration-fast);
  }

  label span::before {
    content: "";
    width: 0.35em;
    height: 0.57em;
    margin-bottom: 0.1em;
    border: 0.125em solid hsl(var(--wf-color-bg));
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
  }

  label input[type="checkbox"]:checked+span {
    opacity: 1;
    border-color: hsl(var(--wf-color-primary));
    background-color: hsl(var(--wf-color-primary));
  }
}
