:root {
  --wf-color-primary: 0 100% 71%;
  --wf-color-bg: 0 0% 100%;

  // 文本颜色
  --wf-color-text: 0 0% 15%; // 最深的文本色, 为了符合 W3C 标准, 默认的文本颜色使用了该色, 同时这个颜色也是最深的中性色
  --wf-color-text-secondary: 0 0% 55%; // 作为第二梯度的文本色, 一般用在不那么需要强化文本颜色的场景, 例如 Label 文本、Menu 的文本选中态等场景
  --wf-color-text-tertiary: 0 0% 75%; // 第三级文本色一般用于描述性文本, 例如表单的中的补充说明文本、列表的描述性文本等场景
  --wf-color-text-quaternary: 0 0% 90%; // 第四级文本色是最浅的文本色, 例如表单的输入提示文本、禁用色文本等

  // 代码块颜色
  --wf-code-block-bg: 233 11% 16%;
  --wf-code-block-header-bg: 223 10% 14%;
  --wf-code-block-point-color-1: 2 96% 68%;
  --wf-code-block-point-color-2: 39 98% 62%;
  --wf-code-block-point-color-3: 129 60% 51%;

  /* 字体大小 */
  --wf-text-base: 16px;
  --wf-font-family: system-ui, -apple-system, "system-ui", "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol", monospace;

  // 圆角
  --wf-rounded-sm: 0.25em;
  --wf-rounded: var(--wf-rounded-sm);
  --wf-motion-duration-fast: 0.4s;


  // fontSizeHeading1	H1 标签所使用的字号	number	38
  // fontSizeHeading2	h2 标签所使用的字号	number	30
  // fontSizeHeading3	h3 标签使用的字号	number	24
  // fontSizeHeading4	h4 标签使用的字号	number	20
  // fontSizeHeading5	h5 标签使用的字号
  --wf-block-gap-vertical: 1em; // 块之间的垂直间距
}

// 重置首尾元素的外边距
@mixin reset-edge-spacing {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

// 整体设置
.wf-light {
  line-height: 1.5;
  font-weight: 400;
  background: var(--wf-color-bg);
  color: hsl(var(--wf-color-text));
  font-size: var(--wf-text-base);
  font-family: var(--wf-font-family);

  @include reset-edge-spacing;

  // #region 段落
  p {
    font-size: 1em;
    margin: var(--wf-block-gap-vertical) 0;
  }

  // #endregion

  // #region 标题
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: var(--wf-block-gap-vertical) 0;
    border-bottom: 1px dashed hsl(var(--wf-color-text-quaternary));

    &::before {
      content: '#';
      color: hsl(var(--wf-color-primary));
      padding: {
        right: 0.5em;
      };
    }
  }

  h1 {
    font-size: 1.5em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.25em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.125em;
    font-weight: 600;
  }

  h4 {
    font-size: 1em;
    font-weight: 600;
  }

  h5,
  h6 {
    font-size: 1em;
    font-weight: 400;
  }

  // #endregion
  
  // #region 列表
  li::marker {
    color: hsl(var(--wf-color-text-secondary));
  }

  // 无序列表
  ul {
    padding-left: 1.5em;
    list-style: disc outside none;
    margin: var(--wf-block-gap-vertical) 0;

    ul {
      margin-block: 0;
      list-style: circle outside none;

      ul {
        list-style: square outside none;
      }
    }
  }

  // 有序列表
  ol {
    padding-left: 1.5em;
    list-style: decimal outside none;
    margin: var(--wf-block-gap-vertical) 0;
    
    ol {
      margin-block: 0;
      list-style: lower-roman outside none;

      ol {
        list-style: lower-latin outside none;
      }
    }
  }

  // 任务列表
  ul[data-type='taskList'] {
    padding-left: 0;

    li {
      gap: 0.5em;
      width: 100%;
      display: flex;

      > div {
        flex: 1;
      }

      > p {
        overflow-x: hidden;
        word-break:break-all;
      }

      label {
        height: 1.5em;
        position: relative;
        display: flex;
        align-items: center;
      }

      input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
      }

      label span {
        width: 1em;
        height: 1em;
        position: relative;
        cursor: pointer;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.0625em solid hsl(var(--wf-color-text-quaternary));
        background-color: hsl(var(--wf-color-text-quaternary) / 10%);
        transition: all var(--wf-motion-duration-fast);
      }

      label span::before {
        content: "";
        width: 0.35em;
        height: 0.57em;
        margin-bottom: 0.1em;
        border: 0.125em solid hsl(var(--wf-color-bg));
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg);
      }

      label input[type="checkbox"]:checked+span {
        opacity: 1;
        border-color: hsl(var(--wf-color-primary));
        background-color: hsl(var(--wf-color-primary));
      }
    }
  }

  // #endregion

  // #region 图片设置 
  img {
    max-width: 100%;
  }

  // #endregion

  // #region 快引用
  blockquote {
    padding: 0.375em 0.75em;
    margin: var(--wf-block-gap-vertical) 0;
    background: hsl(var(--wf-color-text-quaternary) / 10%);
    border-left: 0.25em solid hsl(var(--wf-color-primary));

    @include reset-edge-spacing;
  }

  // #endregion


  //  #region code `` 提示内容 
  code {
    font-size: 0.87em;
    padding: 0.065em 0.4em;
    border-radius: var(--wf-rounded);
    color: hsl(var(--wf-color-primary));
    background-color: hsl(var(--wf-color-primary) / 8%);
  }

  // #endregion

  // #region 代码块部分
  .writer-flow-code-block {
    overflow: hidden;
    border-radius: var(--wf-rounded);
    margin: var(--wf-block-gap-vertical) 0;
    background: hsl(var(--wf-code-block-bg));

    &-header {
      display: flex;
      height: 1.875em;
      align-items: center;
      position: relative;
      background: hsl(var(--wf-code-block-header-bg));

      .writer-flow-code-block-point {
        $gap: 1em;

        @mixin point($color, $left) {
          left: $left;
          position: absolute;
          width: 0.625em;
          height: 0.625em;
          border-radius: 50%;
          background-color: $color;
        }

        top: 50%;
        transform: translateY(-50%);
        
        @include point(hsl(var(--wf-code-block-point-color-1)), 12px);

        &::after,
        &::before {
          content: '';
          display: block;
        }

        &::after {
          @include point(hsl(var(--wf-code-block-point-color-2)), $gap);
        }

        &::before {
          @include point(hsl(var(--wf-code-block-point-color-3)), $gap * 2);
        }
      }
    }

    .cm-editor {
      padding: 0.75em;
      outline: none !important;
      background-color: transparent;
    }
  }

  // #endregion
  

  //  #region 空隙光标样式
  .ProseMirror-gapcursor {
    width: 100%;
    height: 1.5em;
    margin: var(--wf-block-gap-vertical) 0;

    &:first-child {
      margin-top: 0;
    }
  }

  //  #endregion

  // #region 表格 
  .writer-flow-table {
    margin: var(--wf-block-gap-vertical) 0;
    
    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      border: 0.0625em solid hsl(var(--wf-color-text-quaternary));
    }

    th, td{
      position: relative;
      padding: 0.375em 0.625em;
      text-align: left;
      border: 0.0625em solid hsl(var(--wf-color-text-quaternary));

      @include reset-edge-spacing;
    }

    // 表格选中样式 
    .selectedCell {
      background-color: hsl(var(--wf-color-primary) / 20%);

      *::selection {
        background: none;
      }
    }

    // 表格列宽调整
    .column-resize-handle {
      top: 0;
      bottom: 0;
      position: absolute;
      width: 0.25em;
      right: -0.125em;
      cursor: col-resize;
      background-color: hsl(var(--wf-color-primary));
    }
  }

  // #endregion
}
