:root {
  --write-flow-color-primary: 0 100% 71%;
  --write-flow-color-bg: 0 0% 100%;

  // 文本颜色
  --write-flow-color-text: 220 4% 14%; // 最深的文本色, 为了符合 W3C 标准, 默认的文本颜色使用了该色, 同时这个颜色也是最深的中性色
  // --write-flow-color-text-secondary: 0 0% 0%; // 作为第二梯度的文本色, 一般用在不那么需要强化文本颜色的场景, 例如 Label 文本、Menu 的文本选中态等场景
  // --write-flow-color-text-tertiary: 0 0% 0%; // 第三级文本色一般用于描述性文本, 例如表单的中的补充说明文本、列表的描述性文本等场景
  // --write-flow-color-text-quaternary: 0 0% 0%; // 第四级文本色是最浅的文本色, 例如表单的输入提示文本、禁用色文本等

  /* 字体大小 */
  --write-flow-text-base: 16px;
  --write-flow-font-family: "DM Sans", sans-serif;

  // fontSizeHeading1	H1 标签所使用的字号	number	38
  // fontSizeHeading2	h2 标签所使用的字号	number	30
  // fontSizeHeading3	h3 标签使用的字号	number	24
  // fontSizeHeading4	h4 标签使用的字号	number	20
  // fontSizeHeading5	h5 标签使用的字号
}

// 整体设置
.write-flow-light {
  line-height: 1.5;
  font-weight: 400;
  background: var(--write-flow-color-bg);
  color: hsl(var(--write-flow-color-text));
  font-size: var(--write-flow-text-base);
  font-family: var(--write-flow-font-family);

  // #region 段落
  p {
    font-size: 1em;

    &:not(:first-child) {
      margin-top: 1.25em;
    }
  }

  // #region 标题
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // border-bottom: 1px dashed #ddd;

    &:not(h1)::before {
      content: '#';
      color: hsl(var(--write-flow-color-primary));
      padding: {
        right: 0.5em;
      };
    }
  }

  h1 {
    font-size: 1.5em;
    margin-top: 3em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.25em;
    margin-top: 2.5em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.125em;
    font-weight: 600;
    margin-top: 2em;
  }

  h4 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 2em;
  }

  h5,
  h6 {
    font-size: 1em;
    font-weight: 400;
    margin-top: 1.25em;
  }

  // #endregion
  

  ul {
    padding-left: 1.75em;
    margin-block: 1em;
    list-style: disc outside none;

    ul {
      list-style: circle outside none;
      margin-block: 0;

      ul {
        list-style: square outside none;
      }
    }
  }

  ol {
    padding-left: 1.75em;
    margin-block: 1em;
    list-style: decimal outside none;

    ol {
      list-style: lower-roman outside none;
      margin-block: 0;

      ol {
        list-style: lower-latin outside none;
      }
    }
  }

  // 任务列表
  li[data-type='task-item'] {
    gap: 0.5em;
    width: 100%;
    display: flex;

    > div {
      flex: 1;
    }

    > p {
      overflow-x: hidden;
      word-break:break-all;
    }
  }


  // 图片设置 
  img {
    max-width: 100%;
  }

  // 快引用、折叠面板 
  details,
  blockquote {
    margin: 1.375em 0;
    padding: 1px 1.2em;
    color: #666;
    border-left: 0.25em solid #ff7a45;
    background: rgb(217 217 217 / 20%);

    summary {
      color: #666;
      outline: none;
      cursor: pointer;
      margin: 0.65em 0;
    }
  }

  // code `` 提示内容 
  code:not(.brick-markdown-preview-code-body) {
    color: #ff502c;
    font-size: 0.87em;
    padding: 0.065em 0.4em;
    border-radius: 0.125em;
    background-color: rgb(231 100 50 / 8%);
  }

  // 代码块部分
  .writerflow-code-block {
    border-radius: 4px;
    overflow: hidden;
    background: #25262e;

    &-header {
      height: 30px;
      display: flex;
      align-items: center;
      background: #1f2126;
      position: relative;

      .writerflow-code-block-point {
        $gap: 16px;

        @mixin point($color, $left) {
          left: $left;
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color;
        }

        top: 50%;
        transform: translateY(-50%);
        
        @include point(#fc625d, 12px);

        &::after,
        &::before {
          content: '';
          display: block;
        }

        &::after {
          @include point(#fdbc40, $gap);
        }

        &::before {
          @include point(#35cd4b, $gap * 2);
        }
      }
    }

    .cm-editor {
      padding: 12px;
      outline: none !important;
      background-color: transparent;
    }
  }

  // 表格 
  table {
    $color-border: #dfdfdf;

    width: 100%;
    margin: 2.5em 0;
    table-layout: fixed;
    border-collapse: collapse;
    border: 0.0625em solid $color-border;

    th {
      position: relative;
      padding: 0.375em 0.625em;
      color: #666;
      text-align: left;
      font-weight: bold;
      background-color: #f7f7f7;
      border: 0.0625em solid $color-border;
    }

    td {
      position: relative;
      padding: 0.375em 0.625em;
      border: 0.0625em solid $color-border;
    }

    // 表格选中样式 
    .selectedCell {
      background-color: hsl(var(--write-flow-color-primary) / 20%);

      *::selection {
        background: none;
      }
    }

    // 表格列宽调整
    .column-resize-handle {
      width: 4px;
      top: 0;
      bottom: 0;
      right: -2px;
      position: absolute;
      cursor: col-resize;
      background-color: hsl(var(--write-flow-color-primary));
    }
  }

  // checkbox 样式 
  input[type='checkbox'] {
    font-size: 0.9em;
    margin: 0 0.25em 0.15em 0;
    vertical-align: middle
  }

  // mermaid 样式设置 
  .brick-markdown-preview-mermaid {
    text-align: center;
  }

  .ProseMirror-gapcursor {
    height: 1.5em;
    width: 100%;
  }
}
