// 整体设置
.markdown-preview-light {
  $base-font-size: 16;

  color: #252933;
  line-height: 1.7;
  font-size: 16px;
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #fff;

  padding: {
    left: 1.25em;
    right: 1.25em;
    bottom: 1.25em;
  };

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-weight: 500;
    line-height: 1.42;
    margin-top: 1.35em;
    padding-bottom: 0.4em;
    border-bottom: 1px dashed #ddd;

    &:not(h1)::before {
      content: '#';
      color: #ff6d6d;
      padding: {
        right: 0.5em;
      };
    }
  }

  // 段落 
  p {
    font-size: 1em;
  }

  ul {
    padding-left: 1.75em;
    margin-block: 1em;
    list-style: disc outside none;

    ul {
      list-style: circle outside none;
      margin-block: 0;

      ul {
        list-style: square outside none;
      }
    }
  }

  ol {
    padding-left: 1.75em;
    margin-block: 1em;
    list-style: decimal outside none;

    ol {
      list-style: lower-roman outside none;
      margin-block: 0;

      ol {
        list-style: lower-latin outside none;
      }
    }
  }

  // 任务列表
  li[data-type='task-item'] {
    gap: 0.5em;
    width: 100%;
    display: flex;

    > div {
      flex: 1;
    }

    > p {
      overflow-x: hidden;
      word-break:break-all;
    }
  }


  // 图片设置 
  img {
    max-width: 100%;
  }

  // 快引用、折叠面板 
  details,
  blockquote {
    margin: 1.375em 0;
    padding: 1px 1.2em;
    color: #666;
    border-left: 0.25em solid #ff7a45;
    background: rgb(217 217 217 / 20%);

    summary {
      color: #666;
      outline: none;
      cursor: pointer;
      margin: 0.65em 0;
    }
  }

  // code `` 提示内容 
  code:not(.brick-markdown-preview-code-body) {
    color: #ff502c;
    font-size: 0.87em;
    padding: 0.065em 0.4em;
    border-radius: 0.125em;
    background-color: rgb(231 100 50 / 8%);
  }

  // 代码块部分
  .writerflow-code-block {
    border-radius: 4px;
    overflow: hidden;
    background: #25262e;

    &-header {
      height: 30px;
      display: flex;
      align-items: center;
      background: #1f2126;
      position: relative;

      .writerflow-code-block-point {
        $gap: 16px;

        @mixin point($color, $left) {
          left: $left;
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color;
        }

        top: 50%;
        transform: translateY(-50%);
        
        @include point(#fc625d, 12px);

        &::after,
        &::before {
          content: '';
          display: block;
        }

        &::after {
          @include point(#fdbc40, $gap);
        }

        &::before {
          @include point(#35cd4b, $gap * 2);
        }
      }
    }

    .cm-editor {
      padding: 12px;
      outline: none !important;
      background-color: transparent;
    }
  }

  // 表格 
  table {
    $color-border: #dfdfdf;

    width: 100%;
    margin: 2.5em 0;
    border-collapse: collapse;
    border: 0.0625em solid $color-border;

    th {
      padding: 0.375em 0.625em;
      color: #666;
      text-align: left;
      font-weight: bold;
      background-color: #f7f7f7;
      border: 0.0625em solid $color-border;
    }

    td {
      padding: 0.375em 0.625em;
      border: 0.0625em solid $color-border;
    }
  }

  // checkbox 样式 
  input[type='checkbox'] {
    font-size: 0.9em;
    margin: 0 0.25em 0.15em 0;
    vertical-align: middle
  }

  // mermaid 样式设置 
  .brick-markdown-preview-mermaid {
    text-align: center;
  }

  // 标题设置
  @for $i from 0 through 5 {
    h#{$i + 1} {
      font-size: 1.625 - $i * 0.125 + em;
    }
  }
}
