@use '../../theme/mixins';

.wf-horizontal-rule-wrapper {
  display: flex;
  align-items: center;
  height: calc(var(--wf-line-height-default) * 1em);

  hr {
    margin: 0;
    width: 100%;
    border-color: hsl(var(--wf-color-text-quaternary));
  }

  &.ProseMirror-selectednode hr {
    border-color: hsl(var(--wf-color-primary));
  }
}
