@use './mixins';

// 整体设置
.wf-container {
  font-weight: 400;
  background: var(--wf-color-bg);
  color: hsl(var(--wf-color-text));
  font-size: var(--wf-text-base);
  font-family: var(--wf-font-family);
  line-height: var(--wf-line-height-default);

  @include mixins.wf-reset-edge-spacing;

  // #region 段落
  p {
    font-size: 1em;
    margin: var(--wf-block-gap-vertical) 0;
  }

  // #endregion

  // #region 标题
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1em;
    font-weight: 600;
    margin: var(--wf-block-gap-vertical) 0;
    border-bottom: 1px dashed hsl(var(--wf-color-text-quaternary));

    &::before {
      content: '#';
      color: hsl(var(--wf-color-primary));
      padding: {
        right: 0.5em;
      };
    }
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.125em;
  }

  h5,
  h6 {
    font-weight: 400;
  }

  // #endregion
  
  

  // #region 图片设置 
  img {
    max-width: 100%;
  }

  // #endregion

  // #region 快引用
  blockquote {
    padding: 0.375em 0.75em;
    margin: var(--wf-block-gap-vertical) 0;
    background: hsl(var(--wf-color-text-quaternary) / 10%);
    border-left: 0.25em solid hsl(var(--wf-color-primary));

    @include mixins.wf-reset-edge-spacing;
  }

  // #endregion


  //  #region code `` 提示内容 
  code {
    font-size: 0.9em;
    padding: 0.065em 0.4em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    border-radius: var(--wf-rounded);
    color: hsl(var(--wf-color-primary));
    background-color: hsl(var(--wf-color-primary) / 8%);
  }

  //  #region 空隙光标样式
  .ProseMirror-gapcursor {
    width: 100%;
    margin: var(--wf-block-gap-vertical) 0;
    height: calc(var(--wf-line-height-default) * 1em);

    &:first-child {
      margin-top: 0;
    }
  }

  // #endregion
}
