@use './mixins';

// 整体设置
.wf-container {
  font-weight: 400;
  background: var(--wf-color-bg);
  color: hsl(var(--wf-color-text));
  font-size: var(--wf-text-base);
  font-family: var(--wf-font-family);
  line-height: var(--wf-line-height-default);

  @include mixins.wf-reset-edge-spacing;
}
