// 整体设置
.wf-container {
  outline: none;
  font-weight: 400;
  min-height: 100%;
  background: var(--wf-color-bg);
  color: hsl(var(--wf-color-text));
  font-size: var(--wf-text-base);
  font-family: var(--wf-font-family);
  line-height: var(--wf-line-height-default);

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
