
.wf-image-wrapper {
  --radius: 4px;

  position: relative;
  width: fit-content;
  vertical-align: top; // 解决幽灵空白
  display: inline-block;

  .wf-image {
    border-radius: var(--radius);
  }

  // 上传中状态
  &[status="upload_ing"] .wf-image-mask {
    inset: 0;
    position: absolute;
    border-radius: var(--radius);
    background-color: hsl(var(--wf-color-primary) / 20%);
    backdrop-filter: blur(4px);
  }

  // 选中状态
  &.ProseMirror-selectednode .wf-image-mask {
    inset: 0;
    position: absolute;
    border-radius: var(--radius);
    border: 1px solid hsl(var(--wf-color-primary));
    background-color: hsl(var(--wf-color-primary) / 10%);
  }
}
